header {
    padding-top: 3rem;
    overflow: hidden;
}

.header__container {
    display: grid;
    grid-template-columns: 65% 50%;
    gap: 20%;
}

.header__container img {
    margin-left: 15px;
    width: 203px;
    height: 60px;
}

.header__container a {
    background: var(--color-primary);
    color: var(--color-bg);
    text-align: center;
    margin-top: 1.3rem;
    width: 131px;
    height: 27px;
    border-radius: 1rem;
    opacity: 1;
    transition: var(--transition);
}

.header__container a:hover {
    background: var(--color-bg);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

/* ============================= MEDIA QUERIES (MEDIUM DEVICES) ============================== */
@media screen and (max-width: 1024px) {
    .header__container {
        grid-template-columns: 55% 50%;
        gap: 0;
    }

}

/* ============================= MEDIA QUERIES (SmallDEVICES) ============================== */
@media screen and (max-width: 600px) {

    .header__container {
        grid-template-columns: 60% 50%;
        gap: 0;
    }

    .header__container img {
        width: 138px;
        height: 38px;
        margin-top: 1rem;
    }
}